{
"Logging": {
"LogLevel": {
"Default": "Information",
"Microsoft.Hosting.Lifetime": "Information"
}
},
"ScheduledJobs": [
// Base characters : See https://github.com/HangfireIO/Cronos#base-characters
// Special characters : See https://github.com/HangfireIO/Cronos#special-characters
//
//                                       Allowed values    Allowed special characters   Comment
//┌───────────── second (optional)       0-59              * , - /
//│ ┌───────────── minute                0-59              * , - /
//│ │ ┌───────────── hour                0-23              * , - /
//│ │ │ ┌───────────── day of month      1-31              * , - / L W ?
//│ │ │ │ ┌───────────── month           1-12 or JAN-DEC   * , - /
//│ │ │ │ │ ┌───────────── day of week   0-6  or SUN-SAT   * , - / # L ?                Both 0 and 7 means SUN
//│ │ │ │ │ │
//* * * * * *
{
"DllName": "SchedulerSample.dll",             // ex: CDS\\example.dll
"Namespace": "SchedulerSample.SyncService",   // dll內的namespace ex: example.ExampleTask
"CronExpression": "*/10 * * * * *"
}
]
}
